*.zip
.gradle
gradle/
gradlew
gradlew.bat
gradle.properties
build
eclipse
.idea
*.iml
workspace/README.txt
workspace-1.9.4/run
workspace-1.9.4/classes
workspace-1.9.4/src

workspace/
workspace-1.11.2/
workspace-1.10.2/
