*.zip
.gradle
gradle/
gradlew
gradlew.bat
gradle.properties
build
eclipse
.idea
*.iml
workspace/README.txt
workspace/src
workspace/run
workspace/classes
workspace-1.11.2/run
workspace-1.11.2/classes

workspace/
